변수

In [56]:
a = 1

print(a)

1

In [57]:
b = 6 
a = b 
# 얕은 복사(shallow copy)

print(a)

6

데이터 타입(dtype)

In [58]:
# 숫자형 

a = 1 ; b = 5 ; c = 3.3 ; d = 0.5

print(a,b,c,d)
print(type(a), type(b), type(c), type(d))

1 5 3.3 0.5
<class 'int'> <class 'int'> <class 'float'> <class 'float'>

In [59]:
# 파이선 연산
print(a+b, a-b, a*b, a/b) # 사칙연산(+,-,*,/)
print(a ** c) # 제곱 
print(a //c)  # 몫
print(a % c)  # 나머지

6 -4 5 0.2
1.0
0.0
1.0

In [60]:
# 문자열 형 

str1 = "python"
str2 = "programming" 
print(str1 + str2)  # 문자열 더하기 >> 문자끼리 연결 
print(str1 * 2)  # 문자열 곱하기 >> 문자열 반복

pythonprogramming
pythonpython

In [61]:
# 문자열 인덱싱 & 슬라이싱 

str = "python programming"
print(str[0]) # 인덱싱 (특정 위치 값 추출)
print(str[-2])
print(len(str)) # 데이터 크기(길이) 
print(str[-18]) 
print("*" * 20)

print(str[1:4]) 
print(str[:6])
print(str[-3:])

p
n
18
p
********************
yth
python
ing

In [62]:
# 문자열 포맷팅 
# f'{}' : f-string (강추)

print("오늘은 %d 일 입니다." %28)
print("오늘은 %s요일 입니다."%"목") 
print("지금 온도는 %f도 입니다"%36.5)
print("지금 온도는 %0.2f도 입니다"%36.5) # 소수점 2째자리까지만 출력

오늘은 28 일 입니다.
오늘은 목요일 입니다.
지금 온도는 36.500000도 입니다
지금 온도는 36.50도 입니다

- %s : string 문자열 
- %c : 단일문자(character : char)
- %d : 정수(int)
- %x : 16진수

In [63]:
# 문자열 내장 함수 

# count() : 문자열 내 특정 문자 개수 세기 
str = "python programming"
print(str.count('p'))

2

In [64]:
# join() : 문자열 삽입 

"-".join(str)

'p-y-t-h-o-n- -p-r-o-g-r-a-m-m-i-n-g'

In [65]:
# find() : 찾는 문자열 (처음 나온) 위치 반환

str.find('n')

5

In [66]:
# upper(), lower()  대문자로 / 소문자로 변환

print(str.upper())
str2 = 'PYTHON PROGRAMMING'
str2.lower()

PYTHON PROGRAMMING

'python programming'

In [67]:
# replace(***) : 문자열 내 특정 값을 다른 값으로 변환 
str.replace("python", "java")

'java programming'

In [68]:
# split(***) : 공백 또는 특정 문자를 [구분자]로 문자열 분리 

str.split(" ") # 공백 기준 분리

['python', 'programming']

연산자

In [69]:
# 산술 연산자 

a = 20 ; b = 10 
print(a+b) # 더하기
print(a-b) # 빼기
print(a*b) # 곱하기
print(a/b) # 나누기 
print(a//b) # 몫
print(a%b)  # 나머지 
print(a**b) # 거듭제곱

30
10
200
2.0
2
0
10240000000000

In [70]:
# 비교(관계) 연산자 

print(a < b) 
# boolean(True/False)으로 출력
print(a >= b) 
print(a <= b) 
print(a == b) # 값이 동일 
print(a != b) # 값이 다르다

False
True
False
False
True

In [73]:
# 논리 연산자 

a = True 
b = False 

(a and b)

False

In [74]:
(a or b)

True

In [75]:
not b

True

In [80]:
# 복합 대입 연산자 

a = 10 
a = a + 10
print(a)

20

In [81]:
a += 10  # a = a + 10
print(a)

30

In [82]:
a -= 10  # a = a - 10
print(a)

20

In [83]:
a *= 10  # a = a*10
print(a)

200

In [84]:
a /= 10  # a = a/10
print(a)

20.0

조건문과 반복문

In [86]:
# 조건문 

# if 조건문 
a = 10 
if (a > 0): 
    print("a는 양의 정수입니다.")

a는 양의 정수입니다.

In [90]:
a = 10 
if (a < 0): 
    print("a는 양의 정수입니다.") 

# 아무 것도 안 나옴(왜 if 절 조건이 True 가 아니기 때문)

In [88]:
a = 10 
if (a < 0): 
    print("a는 양의 정수입니다.") 

print(a)

10

In [91]:
# if ~ else 

b = -10

if (b > 0): 
    print("b는 %d입니다."%b) 
    print("b는 양의 정수입니다.")

else: 
    print("b는 %d입니다."%b) 
    print("b는 음의 정수입니다.")

b는 -10입니다.
b는 음의 정수입니다.

In [92]:
# if ~ elif ~ else

a = -10 

if (a > 0):
    print("a는 양의 정수입니다.") 
elif (a == 0): 
    print("a는 0 입니다.") 
else: 
    print("a는 음의 정수입니다.")

a는 음의 정수입니다.

In [93]:
### 실제 코딩 테스트에 나온 문제 풀어보는 즐거운 코딩 시간 

# a,b,c 세 정수형 변수
# 이 중에서 가장 큰 수(big) 찾아서 출력하기 
# 사용자 입력을 받으세요 >> input()

a = int(input("첫번째 수를 입력하세요: "))
b = int(input("두번째 수를 입력하세요: "))
c = int(input("세번째 수를 입력하세요: "))

# a와 b를 비교 >> big 
if (a >= b): 
    big = a
else:
    big = b

# c와 big 을 비교 >> 더 큰 값 출력 
if (c >= big):
    print("가장 큰 수는 %d입니다"%c)
else: 
    print("가장 큰 수는 %d입니다"%big)

# 출력결과 
# 첫번째 수를 입력하세요:
# 두번째 수를 입력하세요:
# 세번째 수를 입력하세요:
# 가장 큰 수는 (숫자) 입니다.

첫번째 수를 입력하세요:  20
두번째 수를 입력하세요:  50
세번째 수를 입력하세요:  30

가장 큰 수는 50입니다

In [98]:
# 교육생 작품
a = int(input("첫번째 수를 입력하세요: "))
b = int(input("두번째 수를 입력하세요: "))
c = int(input("세번째 수를 입력하세요: "))

if (a >= b):
    big = a
else:
    big = b
    
if ( c >= big):
    big = c
else:
    big
    
print("가장 큰 수는",big)

첫번째 수를 입력하세요:  20
두번째 수를 입력하세요:  30
세번째 수를 입력하세요:  50

가장 큰 수는 50

In [99]:
a = int(input("첫번째 수를 입력하세요: "))
b = int(input("두번째 수를 입력하세요: "))
c = int(input("세번째 수를 입력하세요: "))

if(a >= b):
    big = a
else:
    big = b
    
if(c >= big):
    big = c
    print("가장 큰 수는 %d입니다."%big)
else:
    big = big
    print("가장 큰 수는 %d입니다."%big)

첫번째 수를 입력하세요:  50
두번째 수를 입력하세요:  30
세번째 수를 입력하세요:  20

가장 큰 수는 50입니다.

In [100]:
a = int(input("첫번째 수를 입력하세요: "))
b = int(input("두번째 수를 입력하세요: "))
c = int(input("세번째 수를 입력하세요: "))

big = a

if (a < b):
    big = b
if (c > big):
    big = c
print("가장 큰 수:", big)

첫번째 수를 입력하세요:  30
두번째 수를 입력하세요:  20
세번째 수를 입력하세요:  50

가장 큰 수: 50

In [102]:
def find_largest_number(a, b, c):
    big = 0
    
    if a > b:
        big = a
    elif a == b:
        big = a
    else:
        big = b
        
    if c >= big:
        big = c
    return big
    
print("가장 큰 수를 찾는 프로그램")
print("첫번째 수를 입력하시오")
a = int(input())
print("두번째 수를 입력하시오")
b = int(input())
print("세번째 수를 입력하시오")
c = int(input())
largest_number = find_largest_number(a, b, c)
print(f"가장 큰 수는 {largest_number}입니다.")

가장 큰 수를 찾는 프로그램
첫번째 수를 입력하시오

 -30

두번째 수를 입력하시오

 -20

세번째 수를 입력하시오

 -50

가장 큰 수는 -20입니다.

반복문

In [103]:
# for 문 

for i in range(5): 
    print("python programming")

python programming
python programming
python programming
python programming
python programming

In [104]:
sum = 0 # 초기화 

for i in range(1,6): 
    sum = sum + i
    print("i의 값: %d, 합계: %d"%(i, sum))

i의 값: 1, 합계: 1
i의 값: 2, 합계: 3
i의 값: 3, 합계: 6
i의 값: 4, 합계: 10
i의 값: 5, 합계: 15

In [108]:
for i in range(1, 10, 2): 
    print(i, end=' ')
    # print(i)
    # end = ' ' >> 결과값을 한 줄로 공백(' ') 으로 구분하여 출력

1 3 5 7 9

In [110]:
for char in "multi-campus" : 
    print(char, end=' ')

m u l t i - c a m p u s

In [116]:
# 이중 for 문 (for 문 중첩) 

for i in range(1,5): 
    for j in range(1,5):
        print(i * j, end= ' ') 
    # print('*' * 10)
    print()

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [118]:
# 구구단 출력 

for i in range(2,10): 
    for j in range(1,10): 
        print("%d * %d = %d"% (i, j, i*j)) 
    print('*'*20)

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
********************
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
********************
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
********************
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
********************
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
********************
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
********************
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
********************
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
********************

In [120]:
for i in range(2,10): 
    for j in range(1,10): 
        print("%d * %d = %d"% (i, j, i*j), end=' ')
    print()

2 * 1 = 2 2 * 2 = 4 2 * 3 = 6 2 * 4 = 8 2 * 5 = 10 2 * 6 = 12 2 * 7 = 14 2 * 8 = 16 2 * 9 = 18
3 * 1 = 3 3 * 2 = 6 3 * 3 = 9 3 * 4 = 12 3 * 5 = 15 3 * 6 = 18 3 * 7 = 21 3 * 8 = 24 3 * 9 = 27
4 * 1 = 4 4 * 2 = 8 4 * 3 = 12 4 * 4 = 16 4 * 5 = 20 4 * 6 = 24 4 * 7 = 28 4 * 8 = 32 4 * 9 = 36
5 * 1 = 5 5 * 2 = 10 5 * 3 = 15 5 * 4 = 20 5 * 5 = 25 5 * 6 = 30 5 * 7 = 35 5 * 8 = 40 5 * 9 = 45
6 * 1 = 6 6 * 2 = 12 6 * 3 = 18 6 * 4 = 24 6 * 5 = 30 6 * 6 = 36 6 * 7 = 42 6 * 8 = 48 6 * 9 = 54
7 * 1 = 7 7 * 2 = 14 7 * 3 = 21 7 * 4 = 28 7 * 5 = 35 7 * 6 = 42 7 * 7 = 49 7 * 8 = 56 7 * 9 = 63
8 * 1 = 8 8 * 2 = 16 8 * 3 = 24 8 * 4 = 32 8 * 5 = 40 8 * 6 = 48 8 * 7 = 56 8 * 8 = 64 8 * 9 = 72
9 * 1 = 9 9 * 2 = 18 9 * 3 = 27 9 * 4 = 36 9 * 5 = 45 9 * 6 = 54 9 * 7 = 63 9 * 8 = 72 9 * 9 = 81

In [123]:
# while 

i = 1
while (i <= 5): 
    print("multi campus") 
    i += 1  # i = i +1 (정지조건 >> 없으면 무한 반복 지옥)

multi campus
multi campus
multi campus
multi campus
multi campus

In [125]:
sum = 0 
i = 1

while (i <= 5): 
    sum = sum + i
    print("i의 값: %d, 합계: %d"%(i, sum))
    i = i +1

i의 값: 1, 합계: 1
i의 값: 2, 합계: 3
i의 값: 3, 합계: 6
i의 값: 4, 합계: 10
i의 값: 5, 합계: 15

In [128]:
i = 0
s = "multi campus" 
print(len(s))
print(s[3])

while i <= (len(s) -1): 
    print(s[i], end= ' ') 
    i += 1  # 정지조건

12
t
m u l t i   c a m p u s

In [129]:
i = 0 
while i < 100: 
    print(i, end = ' ') 
    i += 1
    if i == 10: 
        break

0 1 2 3 4 5 6 7 8 9

[ 기출 응용 ] 평균 점수 계산

In [134]:
# for 문 활용 

a = [70,60,55,95,80,70,85,47,83,78] 

sum = 0 
avg = 0 

for i in a:
    sum = sum + i

avg = sum / len(a)

print(sum)
print("평균은 %.2f입니다."%avg)

723
평균은 72.30입니다.

In [135]:
# while 문 

a = [70,60,55,95,80,70,85,47,83,78] 

sum = 0 
avg = 0 

i = 0
while (i < len(a)): 
    sum = sum + a[i]
    i += 1

avg = sum / len(a)

print(sum)
print("평균은 %.2f입니다."%avg)

723
평균은 72.30입니다.