변수

In [1]:
a = 1

print(a)

1

In [2]:
b = 5
a = b
# 얕은 복사
print(a)

5

데이터 타입(dtype)

In [4]:
# 숫자형
a =1 ; b =5 ; c=3.3 ; d=0.5

print(a,b,c,d)
print(type(a),type(b),type(c),type(d))

1 5 3.3 0.5
<class 'int'> <class 'int'> <class 'float'> <class 'float'>

In [5]:
# 연산
print(a+b,a-b,a*b,a/b)
print(a**c)
print(a//c)
print(a%c)

6 -4 5 0.2
1.0
0.0
1.0

In [8]:
# 문자열 형
str1 ='python'
str2='programming'
print(str1+str2)
print(str1*2)

pythonprogramming
pythonpython

In [14]:
# 문자열 인덱싱 & 슬라이싱

str = 'python programming'
print(str[0]) # 인덱싱(특정 위치 값 추출)
print(str[-2])
print(len(str)) # 데이터 크기(길이)
print(str[-18]) 
print('*'*20)

print(str[1:4])
print(str[:6])
print(str[-3:])

p
n
18
p
********************
yth
python
ing

In [19]:
# 문자열 포맷팅
# f'{}' : f-string

print('오늘은 %d 일 입니다.' %28)
print('오늘은 %s요일입니다.'%'목')
print('지금 온도는 %0.2f도 입니다'%36.5)

오늘은 28 일 입니다.
오늘은 목요일입니다.
지금 온도는 36.50도 입니다

- %s : string 문자열
- %c : 단일문자(character : char)
- %d : 정수(int)
- %x : 16진수

In [21]:
# 문자열 내장 함수

# count()
str = 'python programming'
print(str.count('p'))

2

In [22]:
# join()

'_'.join(str)

'p_y_t_h_o_n_ _p_r_o_g_r_a_m_m_i_n_g'

In [23]:
# find()
str.find('n')

5

In [24]:
# upper(), Lower()

print(str.upper())
str2 = 'PYTHON PROGRAMMING'
str2.lower()

PYTHON PROGRAMMING

'python programming'

In [26]:
# replace(***)
str.replace('python','java')

'java programming'

In [27]:
# split(***)
str.split(" ")

['python', 'programming']

연산자

In [29]:
# 산술 연산자
a=20 ; b=10
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

30
10
200
2.0
2
0
10240000000000

In [31]:
# 비교 연산자
print(a<b)
print(a>b)
print(a<=b)
print(a==b)
print(a!=b)

False
True
False
False
True

In [35]:
# 논리 연산자
a=True
b=False

print(a and b)
print(a or b)

False
True

In [37]:
not b

True

In [39]:
# 복합 대입 연산자
a = 10
a = a+10
print(a)

20

In [40]:
a+=10
print(a)

30

In [41]:
a -=10
print(a)

20

In [42]:
a*=10
print(a)

200

In [43]:
a/=10
print(a)

20.0

조건문과 반복문

In [44]:
# 조건문

a=10
if (a>0):
    print('a는 양의 정수입니다.')

a는 양의 정수입니다.

In [48]:
a=10
if (a<0):
    print('a는 양의 정수입니다.')

In [49]:
a=10
if (a<0):
    print('a는 양의 정수입니다.')

print(a)

10

In [50]:
# if ~ else
b=-10

if(b>0):
    print(f'b는 {b}입니다.')
    print('b는 양의 정수입니다.')

else:
    print(f'b는 {b}입니다.')
    print('b는 음의 정수입니다.')

b는 -10입니다.
b는 음의 정수입니다.

In [52]:
# if ~elif ~else

a= -10
if(a>0):
    print('a는 양의 정수입니다.')
elif(a==0):
    print('a는 0입니다.')

else:
    print('a는 음의 정수입니다.')

a는 음의 정수입니다.

In [56]:
### 실제 코딩 테스트에 나온 문제

# a,b,c 세 정수형 변수
# 이 중에서 가장 큰 수(big) 찾아서 출력
# 사용자 입력을 받으세요 >>


a = int(input("첫 번째 정수를 입력하세요: "))
b = int(input("두 번째 정수를 입력하세요: "))
c = int(input("세 번째 정수를 입력하세요: "))

big = a
if b > big:
    big = b
if c > big:
    big = c

print("가장 큰 수는:", big)

첫 번째 정수를 입력하세요:  20
두 번째 정수를 입력하세요:  50
세 번째 정수를 입력하세요:  30

가장 큰 수는: 50

반복문

In [57]:
for i in range(5):
    print('python programming')

python programming
python programming
python programming
python programming
python programming

In [59]:
sum = 0

for i in range(1,6):
    sum = sum + i
    print(f'i의 값: {i}, 합계: {sum}')

i의 값: 1, 합계: 1
i의 값: 2, 합계: 3
i의 값: 3, 합계: 6
i의 값: 4, 합계: 10
i의 값: 5, 합계: 15

In [60]:
for i in range(1,10,2):
    print(i,end=' ')

1 3 5 7 9

In [63]:
for char in 'multi-campus':
    print(char, end=' ')

m u l t i - c a m p u s

In [65]:
for i in range(1,5):
    for j in range(1,5):
        print(i*j, end=' ')

1 2 3 4 2 4 6 8 3 6 9 12 4 8 12 16

In [67]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')
    print('*'*10)

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
**********
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
**********
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
**********
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
**********
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
**********
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
**********
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
**********
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
**********

In [68]:
for i in range(2,10):
    for j in range(1,10):
        print(f'{i}*{j}={i*j}')
    print('*'*10)

2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
**********
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
**********
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
**********
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
**********
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
**********
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
**********
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
**********
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81
**********

while 문

In [69]:
i=1
while (i<=5):
    print('multi campus')
    i+=1

multi campus
multi campus
multi campus
multi campus
multi campus

In [70]:
sum = 0
i = 1

while (i<=5):
    sum=sum+i
    print(f'i의 값: {i}, 합계:{sum}')
    i=i+1

i의 값: 1, 합계:1
i의 값: 2, 합계:3
i의 값: 3, 합계:6
i의 값: 4, 합계:10
i의 값: 5, 합계:15

In [71]:
i=0
s='multi campus'

while i <= (len(s) -1):
    print(s[i], end=' ')
    i+=1

m u l t i   c a m p u s

[기출 응용] 평균 점수 계산

In [74]:
# for 문 활용

a=[70,60,55,95,80,70,85,47,83,78]

sum = 0
avg = 0

for i in a:
    sum=sum +i

avg=sum / len(a)

print(sum)
print('평균은 %.2f입니다.'%avg)
print(avg)

723
평균은 72.30입니다.
72.3

In [79]:
a=[70,60,55,95,80,70,85,47,83,78]

sum = 0
avg = 0

i=0
while (i < len(a)):
    sum = sum + a[i]
    i+=1
   

avg = sum / len(a)
print(sum)
print('평균은 %.2f입니다.'%avg)

723
평균은 72.30입니다.

리스트

In [1]:
a=[]
b=[1,2,3]
c=['사과','오렌지','딸기','포도','바나나']
d=[1,2,'python','programming']

In [2]:
print(a)
print(c[-1])

[]
바나나

In [3]:
%config Completer.use_jedi = False

In [4]:
del c[0]
print(c)

['오렌지', '딸기', '포도', '바나나']

In [5]:
a=['a','b','c','d','e']
print(reversed(a))
b=list(reversed(a))
print(b)

<list_reverseiterator object at 0x0000012FDCF3BD00>
['e', 'd', 'c', 'b', 'a']

In [6]:
a

['a', 'b', 'c', 'd', 'e']

In [7]:
# sort()

In [8]:
# 슬라이싱 역순 만들어 보
a=['a','b','c','d','e']
a[::-1]

['e', 'd', 'c', 'b', 'a']

In [9]:
d= ['e', 'd', 'c', 'b', 'a']
e= sorted(d)
print(d)
print(e)

['e', 'd', 'c', 'b', 'a']
['a', 'b', 'c', 'd', 'e']

In [10]:
# count(x) : 리스트의 원소 x값 개수를 셈

In [11]:
# remove(x) : 리스트에서 [첫 번째로 나오는]x값 삭제

e

['a', 'b', 'c', 'd', 'e']

In [16]:
e.remove('e')
print(e)

['b', 'c', 'd']

In [17]:
a=['a','b','c']

for i in a:
    print(i,end=' ')

a b c

2차원 리스트

In [18]:
scores = [[70,75],[80,80],[70,80],[95,85],[100,80]]

In [20]:
# 3번째 학생의 중간고사 성적
scores[2][0]

70

튜플과 딕셔너리

In [24]:
# tuple

t = ('a','b','c','d','e')

print(t[0])
print(t[:-1])
print(t*2)

a
('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd', 'e', 'a', 'b', 'c', 'd', 'e')

In [25]:
# 딕셔너리

dict1={1:'a',2:'b',3:'c'}
dict2={'name':'python','age':30, 'job':'dessa'}
print(dict1[1])

a

In [26]:
dict2['hobby']='piano'

In [27]:
print(dict2)

{'name': 'python', 'age': 30, 'job': 'dessa', 'hobby': 'piano'}

- 3명의 회원 정보(id, password) :  dictonary 정의할 것
- 사용자로 부터 id, password 입력받아서 일치 여부 판단 프로그램
    - 회원1 id: multi pw:1234
    - 회원2 id: drwill pw:7777
    - 회원3 id: dessa pw:8888

In [33]:
id_pw = {'multi': '1234', 'drwill': '7777', 'dessa': '8888'}

input_id = input("아이디를 입력하세요: ")
input_pw = input("비밀번호를 입력하세요: ")

if input_id in id_pw and id_pw[input_id] == input_pw:
    print("로그인 성공!")
else:
    print("아이디 또는 비밀번호가 잘못되었습니다.")

아이디를 입력하세요:  dessa
비밀번호를 입력하세요:  8888

로그인 성공!

함수와 라이브러리

In [35]:
def sum(x,y):
    return x+y

In [36]:
def 홀짝(x):
    if x %2==0:
        return('짝수')
    else:
        return('홀수')

In [37]:
홀짝(41)

'홀수'

In [39]:
x=int(input('숫자를 입력해 주세요(단, 정수로 입력해주세요): '))
print(f'{x}는 {홀짝(x)}입니다.')

숫자를 입력해 주세요(단, 정수로 입력해주세요):  22

22는 짝수입니다.

In [40]:
def multi(x,y):
    mul = x*y
    return mul

x=int(input('첫번째 숫자를 입력하세요(반드시 숫자입력~)'))
y=int(input('두번째 숫자를 입력하세요(반드시 숫자입력~)'))

print(f'두 수의 곱은 {multi(x,y)}')

첫번째 숫자를 입력하세요(반드시 숫자입력~) 2
두번째 숫자를 입력하세요(반드시 숫자입력~) 5

두 수의 곱은 10