# 새 섹션
**굵은 텍스트**
*이탤릭체 텍스트*


```
# 코드로 형식 지정됨
```

무작정 따라하는 파이썬


*   멋진 삼행시 짓기_print()실습

In [2]:
print("저는 자랑스러운 멀캠의 예비 데이터사이언티스트입니다.")
print("안녕하세요")
print("남수형입니다!")

저는 자랑스러운 멀캠의 예비 데이터사이언티스트입니다.
안녕하세요
남수형입니다!

**기본자료형**

In [3]:
# 숫자 50과 숫자 50을 더해서 출력하기
print(50+50)

100

In [4]:
# 문자열(string) "50"과 숫자 "50" 더해서 출력하기
print("50"+"50")

5050

In [5]:
# 파이썬에 여러 개의 원(element. 숫자. 문자)를 답는 그릇 >> 리스트(list 목록)
print([50]+[50])

[50, 50]

# 변수
*   변하는 수

In [7]:
# 파이썬 변수의 정의
apple=1
print(apple)

1

In [8]:
Apple="사과"
print(Apple)

사과

In [9]:
# 정수와 소수(부동소수점/실수)
a=1.2
print(a)
b=2
print(b)
print(a+b)

1.2
2
3.2

In [10]:
# 문자열
가='hello'
print(가)

나=" good morning"
# space(빈 공백)도 문자로 인식

print(가+나)

hello
hello good morning

In [11]:
# bool

a=True
print(a)

b=False
print(b)

True
False

In [12]:
print(a == b)
# == : 같

False

In [14]:
print(a != b)

True

In [15]:
# 추가
# 변수에는 정수, 실수 같은 숫자를 저장할 수 있다.

num1=1
num2=2

print(num1-num2)

-1

In [16]:
# 영어나 한글과 같은 문자도 저장이 가능하다
char="a"

print(char)

a

In [57]:
# 이런 문자들의 집합도 리스트로 저장할 수 있다.
# 리스트 : 여러 원소(element)를 담는 그
List=[1,a,'python']

print(List)
print(List[0])
print(List[1])
print(List[2])
# print(List[3]) 애러 발생 인덱스 범위가 없음

[1, '사과', 'python']
1
사과
python

In [19]:
# 리스트에 원소 개수
len(List)
# len : length

3

# 파이썬 연산자

In [28]:
# 할당 연산자
a = 1
a = a+1

print(a)

2

In [25]:
a=1
a+=1
# a=a+1

print(a)

2

In [27]:
b=1
b-=2
# b= b-2

print(b)

-1

In [30]:
# 산술 연산자
a=1
b=32

print(a>b)
# True or False로 반환된다

False

In [31]:
c = -3 # int
d = -0.2 # float

print(c<=d)

True

In [32]:
a=1
b=32

print(a==b)

False

In [33]:
c = -3 # int
d = -0.2 # float

print(c!=d)

True

In [36]:
# 논리연산자(and, or, not)

a = True
b = False

print(a and b)
print(a or b)
print(not a)
print(not b)

False
True
False
True

In [37]:
# 맴버(member, 소속) 연산자(in / not in)
a = "사과"
b=['사과','배','참외','수박','복숭아']

print(a in b)

True

In [38]:
c = 'apple'
d = ['Apple','pear', 'watermelon', 'peach']

print(c in d)
# 대소문자 구분

False

In [53]:
# 식별 인식자(is)

a = '사과'
b = '사과'

print(type(a))
print(type(b))

print(a is b)

<class 'str'>
<class 'str'>
False

In [49]:
c=12
d=12

print(c is not d)

False

In [51]:
'''
1. 'is' 와 '==' 동등성 비교
2. '==' 연산자 : 두 객체(a,b...) 값이 동일한지 비교
3. 'is' 연산자 : 두 객체(a,b...) 식별자가 동일한지 비교
'''

"\n1. 'is' 와 '==' 동등성 비교\n2. '==' 연산자 : 두 객체(a,b...) 값이 동일한지 비교\n3. 'is' 연산자 : 두 객체(a,b...) 식별자가 동일한지 비교\n"

In [45]:
a=[1,2,3]
b=[1,2,3]
c=a

print(a==b) # 값 비교
print(a is b) # a와 b는 값은 같으나 서로 다른 메모리 위치에 있음

True
False

In [46]:
print(a is c)
# a와 c는 동일한 객체를 참조함

True

In [47]:
e=1,2,3
print(e)
print(type(e)) # tuple

(1, 2, 3)
<class 'tuple'>

In [48]:
f=[1,2,3]
print(f)
print(type(f)) # list

[1, 2, 3]
<class 'list'>

In [60]:
my_var_1='a'
my_var_2=List
# 같은 자료형이야 가능
print(my_var_1+my_var_2[2])

apython

In [63]:
# 변수에 문자열로 된 정수와 실수를 저장하면

a = '345' # 문자>> 정수
b = '3.14'# 문자 >> 실수

print(a)
print(b)

print(type(a))
print(type(b))

345
3.14
<class 'str'>
<class 'str'>

In [69]:
print(int(a))
a=int(a)
print(type(a))

print(float(b))
b=float(b)
print(type(b))

3
<class 'int'>
3.14
<class 'float'>